{% extends "base.html" %}
<!-- Load static files -->
{% load static %}

<!-- Scripts -->
{% block scripts %}
<script src="{% static 'uploads/main.js' %}" defer></script>
{% endblock scripts %}

<!-- Title -->
{% block title %} Tải lên và lọc ảnh {% endblock title %}

<!-- Content -->
{% block content %}

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#imageUploadModal">
  Tải ảnh lên
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="imageUploadModal"
  tabindex="-1"
  aria-labelledby="imageUploadModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" style="max-width: 600px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageUploadModalLabel">Tải ảnh lên</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <form id="imageUploadForm" method="post" enctype="multipart/form-data">
        <div class="modal-body">
          {% csrf_token %}
          <!-- {{ form.as_p }} -->
          <div class="mb-2">
            <label for="{{ form.image.id_for_label }}"
              class="btn btn-info me-2">Chọn tệp ảnh</label>
            {{form.image}}
            <span class="imageName"></span>
          </div>

          <div id="imagePreview"></div>

          <div class="mt-3 gap-2">
            <div class="mb-2">
              <label for="{{ form.size.id_for_label }}">Kích cỡ ảnh: </label>
              {{ form.size }}
            </div>
            <div class="mb-2">
              <label for="{{ form.action.id_for_label }}">Bộ lọc ảnh: </label>
              {{ form.action }}
            </div>
            <div class="mb-2">
              <label for="{{ form.cutoff_val.id_for_label }}">
                Giá trị D0:
              </label>
              {{ form.cutoff_val }}
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal">
            Đóng
          </button>
          <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="alertBox"></div>
<div id="spinner-box" class="text-center">
  <div class="spinner-border" role="status"></div>
</div>
<div id="uploadsList"></div>
{% endblock content %}
